In [1]:
import pandas as pd

##### 读取dataframe

In [2]:
df = pd.read_csv('C:/Users/60448/Desktop/students.csv',
                 index_col='Name')  # 不用索引列

df.head()

            hw1   hw2 program
Name
Dorian     10.0  10.0    MSIS
Jeannine    6.0   7.0    MSIS
Iluminada   2.0   NaN     MBA
Luci        7.0   7.0    MSIS
Jenny       8.0   NaN     NaN

##### 读取series

In [3]:
df['hw1']
hw1 = df.hw1
hw1

len(hw1)

11

###### index & values

In [4]:
hw1.index

hw1.values

hw1.values[2:6]

array([2., 7., 8., 2.])

##### describe

In [5]:
hw1.describe()

count    10.000000
mean      5.600000
std       3.098387
min       1.000000
25%       2.750000
50%       6.000000
75%       7.750000
max      10.000000
Name: hw1, dtype: float64

In [6]:
hw1.mean()
hw1.median()
hw1.max()
hw1.sum()

56.0

##### iloc（定位选择）

In [27]:
hw1.iloc[3]

# 切片
hw1_sub = hw1.iloc[2:6]
hw1_sub

# 挑选
hw1.iloc[[-1,-3,-4]]

Name
John       NaN
Shelby     1.0
Garland    9.0
Name: hw1, dtype: float64

##### [……]索引选择(此时名字是索引列)

In [26]:
hw1['Luci']
df.loc['Luci']

hw1           7
hw2           7
program    MSIS
Name: Luci, dtype: object

##### 条件选择（boolean selection）

In [33]:
# 成绩大于等于6的学生
b = (hw1 >= 6)  # boolean mask
hw1[b]  # 制作filter

# 【或门】成绩小于5或大于9
hw1[(hw1 < 5) | (hw1 > 9)]

# 【与门】成绩大于5且小于9
hw1[(hw1 > 5) & (hw1 < 9)]

Name
Jeannine    6.0
Luci        7.0
Jenny       8.0
Michael     6.0
Name: hw1, dtype: float64

##### 排序

In [90]:
#test【以J开头的人里谁是最高分】
hw1[hw1.index >= 'J']  # J之后
hw1[hw1.index <= 'K']  # K之前
hw1[(hw1.index >= 'J') & (hw1.index <= 'K')]
hw1[(hw1.index >= 'J') & (hw1.index <= 'K')].idxmax()

'Jenny'

###### 返回最高分的姓名

In [38]:
hw1[hw1 == hw1.max()]

Name
Dorian    10.0
Name: hw1, dtype: float64

###### idxmax和idxmin (会忽略nan)

In [45]:
hw1.idxmax()

'Dorian'

###### rank(从小到大排第几)

In [44]:
hw1.rank()  # 【正序】并列为带小数点（method=average）
hw1.rank(ascending=False, method='min')  #【逆序】【去除小数点，最符合习惯】//dense则在排序时不会跳过并列

Name
Dorian        1.0
Jeannine      5.0
Iluminada     8.0
Luci          4.0
Jenny         3.0
Demetria      8.0
Michael       5.0
Garland       2.0
Shelby       10.0
Mercy         7.0
John          NaN
Name: hw1, dtype: float64

In [67]:
#test
hw1.rank(ascending=False, method= 'min')

Name
Dorian        1.0
Jeannine      5.0
Iluminada     8.0
Luci          4.0
Jenny         3.0
Demetria      8.0
Michael       5.0
Garland       2.0
Shelby       10.0
Mercy         7.0
John          NaN
Name: hw1, dtype: float64

###### sort_values和sort_index

In [48]:
hw1.sort_values() #按值，默认增序
hw1.sort_index() #按索引序列排序

Name
Demetria      2.0
Dorian       10.0
Garland       9.0
Iluminada     2.0
Jeannine      6.0
Jenny         8.0
John          NaN
Luci          7.0
Mercy         5.0
Michael       6.0
Shelby        1.0
Name: hw1, dtype: float64

In [81]:
#test【返回索引最后的值】
hw1.sort_index().tail(1)
hw1.sort_index().iloc[-1:]

Name
Shelby    1.0
Name: hw1, dtype: float64

###### nlargest 和 nsmallest

In [61]:
hw1.nlargest(3) #前三名

Name
Dorian     10.0
Garland     9.0
Jenny       8.0
Name: hw1, dtype: float64

In [73]:
#test【第四名及分数】
hw1.nlargest(4)[-1:]
hw1.nlargest(4).tail(1)
hw1.nlargest(4).iloc[3:4]

Name
Luci    7.0
Name: hw1, dtype: float64

In [79]:
#test2 当存在并列时，上述不可显示全部，只显示索引排在前面的那个
#【思路是用boolean mask，以原始排序等级作为TF筛选条件】
hw1[hw1.rank(ascending=False, method= 'min') == 5]

Name
Jeannine    6.0
Michael     6.0
Name: hw1, dtype: float64

###### head 和tail

In [50]:
hw1.tail(5)

Name
Michael    6.0
Garland    9.0
Shelby     1.0
Mercy      5.0
John       NaN
Name: hw1, dtype: float64

##### 整列运算

In [92]:
hw2 = hw1+5
hw2

Name
Dorian       15.0
Jeannine     11.0
Iluminada     7.0
Luci         12.0
Jenny        13.0
Demetria      7.0
Michael      11.0
Garland      14.0
Shelby        6.0
Mercy        10.0
John          NaN
Name: hw1, dtype: float64

##### astype类型转换

In [93]:
import numpy

In [95]:
hw1.astype('float')

Name
Dorian       10.0
Jeannine      6.0
Iluminada     2.0
Luci          7.0
Jenny         8.0
Demetria      2.0
Michael       6.0
Garland       9.0
Shelby        1.0
Mercy         5.0
John          NaN
Name: hw1, dtype: float64

##### 跨列操作

In [97]:
hw2 = df['hw2']
hw2

Name
Dorian       10.0
Jeannine      7.0
Iluminada     NaN
Luci          7.0
Jenny         NaN
Demetria      4.0
Michael      10.0
Garland       1.0
Shelby       10.0
Mercy         6.0
John         10.0
Name: hw2, dtype: float64

In [99]:
(hw1 + hw2) / 2  # 【index必须一致】

Name
Dorian       10.0
Jeannine      6.5
Iluminada     NaN
Luci          7.0
Jenny         NaN
Demetria      3.0
Michael       8.0
Garland       5.0
Shelby        5.5
Mercy         5.5
John          NaN
dtype: float64

In [116]:
# test1【将hw1平均分增至8】
(hw1 - hw1.mean()) + 8

# test2【哪个同学的均分最接近6.7】
hw = (hw1 + hw2) / 2
x = (hw - 6.7).abs()
x.nsmallest(1)

Name
Jeannine    0.2
dtype: float64