In [2]:
import pandas as pd
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('precision',2)  # 显示两位小数

In [3]:
df = pd.read_csv('cleaned_survey.csv',index_col=0)
df.head()

,Languages,Timestamp,Program,ProgSkills,C,CPP,CS,Java,Python,JS,...,Classification,Clustering,Job,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,quarter,year,Expert
0,6,2017/01/09 2:48:20 PM MST,MSIS,4,1,1,0,1,1,1,...,4.0,4.0,0.0,0,1,0,0,Winter,2017,1.0
1,4,2017/01/09 3:15:59 PM MST,MSIS,3,1,1,0,1,0,0,...,2.0,2.0,0.5,0,0,0,1,Winter,2017,1.0
2,3,2017/01/09 4:48:48 PM MST,MSIS,3,0,0,0,1,1,0,...,3.0,3.0,0.0,0,0,1,0,Winter,2017,1.0
3,5,2017/01/09 4:48:51 PM MST,MSIS,3,1,0,0,1,1,0,...,2.0,3.0,0.0,0,0,0,1,Winter,2017,1.0
4,4,2017/01/09 4:50:03 PM MST,MSIS,3,1,0,0,1,1,0,...,1.0,1.0,0.0,0,0,1,0,Winter,2017,1.0

In [4]:
df_programs = pd.DataFrame({
    'Program': [
        'MSIS', 'MBA', 'Master of Finance', 'Supply Chain Mgmt & Analytics',
        'Master of Hacking'
    ],
    'Units_required': [51, 70, 48, 49, 100]
})

In [6]:
df_programs

                         Program  Units_required
0                           MSIS              51
1                            MBA              70
2              Master of Finance              48
3  Supply Chain Mgmt & Analytics              49
4              Master of Hacking             100

In [7]:
df.Program.unique()

array(['MSIS', 'Supply Chain Mgmt & Analytics', 'MBA', 'Faculty!',
       'Business Man', 'Master of Finance', 'MS Finance', 'MSF', 'MSBA',
       'MSFA'], dtype=object)

In [10]:
len(df[(df.Program == 'Business Man') | (df.Program == 'Faculty!') |
       (df.Program == 'MS Finance') | (df.Program == 'MSF') |
       (df.Program == 'MSBA') | (df.Program == 'MSFA')]) 
# 不在df_programs的学生数

81

#### merge on columns

##### inner merge(default)求交集

In [9]:
df.merge(df_programs)  # 用唯一共有的column合并

,Languages,Timestamp,Program,ProgSkills,C,CPP,CS,Java,Python,JS,...,Clustering,Job,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,quarter,year,Expert,Units_required
0,6,2017/01/09 2:48:20 PM MST,MSIS,4,1,1,0,1,1,1,...,4.0,0.0,0,1,0,0,Winter,2017,1.0,51
1,4,2017/01/09 3:15:59 PM MST,MSIS,3,1,1,0,1,0,0,...,2.0,0.5,0,0,0,1,Winter,2017,1.0,51
2,3,2017/01/09 4:48:48 PM MST,MSIS,3,0,0,0,1,1,0,...,3.0,0.0,0,0,1,0,Winter,2017,1.0,51
3,5,2017/01/09 4:48:51 PM MST,MSIS,3,1,0,0,1,1,0,...,3.0,0.0,0,0,0,1,Winter,2017,1.0,51
4,4,2017/01/09 4:50:03 PM MST,MSIS,3,1,0,0,1,1,0,...,1.0,0.0,0,0,1,0,Winter,2017,1.0,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,5,2020/01/05 10:00:26 PM PST,MBA,2,1,1,1,1,0,0,...,1.0,0.0,0,0,0,1,Winter,2020,1.0,70
85,1,2020/01/06 11:14:34 AM PST,MBA,1,0,0,0,0,0,0,...,1.0,0.0,0,0,0,1,Winter,2020,0.0,70
86,3,2020/01/06 3:04:27 PM PST,MBA,3,0,0,0,1,1,0,...,3.0,0.0,0,0,0,1,Winter,2020,1.0,70
87,2,2020/01/08 8:37:45 PM PST,MBA,4,0,0,0,0,0,1,...,2.0,1.0,0,0,1,0,Winter,2020,0.0,70
88,5,2017/04/03 11:49:36 AM MDT,Master of Finance,4,1,1,0,0,1,1,...,1.0,0.0,0,0,0,1,Spring,2017,1.0,48

##### left_on & right_on

In [13]:
df_inner = df.merge(df_programs,left_on='Program',right_on='Program')
len(df_inner)

89

##### left merge()首先出现的dataframe

In [14]:
df.merge(df_programs,how='left')  # 和左边dataframe一样的set

,Languages,Timestamp,Program,ProgSkills,C,CPP,CS,Java,Python,JS,...,Clustering,Job,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,quarter,year,Expert,Units_required
0,6,2017/01/09 2:48:20 PM MST,MSIS,4,1,1,0,1,1,1,...,4.0,0.0,0,1,0,0,Winter,2017,1.0,51.0
1,4,2017/01/09 3:15:59 PM MST,MSIS,3,1,1,0,1,0,0,...,2.0,0.5,0,0,0,1,Winter,2017,1.0,51.0
2,3,2017/01/09 4:48:48 PM MST,MSIS,3,0,0,0,1,1,0,...,3.0,0.0,0,0,1,0,Winter,2017,1.0,51.0
3,5,2017/01/09 4:48:51 PM MST,MSIS,3,1,0,0,1,1,0,...,3.0,0.0,0,0,0,1,Winter,2017,1.0,51.0
4,4,2017/01/09 4:50:03 PM MST,MSIS,3,1,0,0,1,1,0,...,1.0,0.0,0,0,1,0,Winter,2017,1.0,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,4,2020/01/06 4:24:33 PM PST,MSIS,4,1,0,0,0,1,0,...,3.0,0.0,0,0,0,1,Winter,2020,1.0,51.0
166,1,2020/01/06 5:49:13 PM PST,MSFA,1,0,0,0,0,0,0,...,1.0,0.0,0,1,0,0,Winter,2020,0.0,NaN
167,2,2020/01/06 5:58:48 PM PST,MSFA,2,0,0,0,0,0,0,...,1.0,0.0,1,0,0,0,Winter,2020,0.0,NaN
168,2,2020/01/06 6:19:12 PM PST,MSFA,1,0,0,0,0,0,0,...,1.0,0.0,0,0,1,0,Winter,2020,0.0,NaN
169,2,2020/01/08 8:37:45 PM PST,MBA,4,0,0,0,0,0,1,...,2.0,1.0,0,0,1,0,Winter,2020,0.0,70.0

##### right merge()

In [15]:
df.merge(df_programs,how='right')  # 和右边dataframe一样的set

,Languages,Timestamp,Program,ProgSkills,C,CPP,CS,Java,Python,JS,...,Clustering,Job,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,quarter,year,Expert,Units_required
0,6.0,2017/01/09 2:48:20 PM MST,MSIS,4.0,1.0,1.0,0.0,1.0,1.0,1.0,...,4.0,0.0,0.0,1.0,0.0,0.0,Winter,2017.0,1.0,51
1,4.0,2017/01/09 3:15:59 PM MST,MSIS,3.0,1.0,1.0,0.0,1.0,0.0,0.0,...,2.0,0.5,0.0,0.0,0.0,1.0,Winter,2017.0,1.0,51
2,3.0,2017/01/09 4:48:48 PM MST,MSIS,3.0,0.0,0.0,0.0,1.0,1.0,0.0,...,3.0,0.0,0.0,0.0,1.0,0.0,Winter,2017.0,1.0,51
3,5.0,2017/01/09 4:48:51 PM MST,MSIS,3.0,1.0,0.0,0.0,1.0,1.0,0.0,...,3.0,0.0,0.0,0.0,0.0,1.0,Winter,2017.0,1.0,51
4,4.0,2017/01/09 4:50:03 PM MST,MSIS,3.0,1.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,Winter,2017.0,1.0,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,1.0,2020/01/06 11:14:34 AM PST,MBA,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,Winter,2020.0,0.0,70
86,3.0,2020/01/06 3:04:27 PM PST,MBA,3.0,0.0,0.0,0.0,1.0,1.0,0.0,...,3.0,0.0,0.0,0.0,0.0,1.0,Winter,2020.0,1.0,70
87,2.0,2020/01/08 8:37:45 PM PST,MBA,4.0,0.0,0.0,0.0,0.0,0.0,1.0,...,2.0,1.0,0.0,0.0,1.0,0.0,Winter,2020.0,0.0,70
88,5.0,2017/04/03 11:49:36 AM MDT,Master of Finance,4.0,1.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,Spring,2017.0,1.0,48
89,NaN,NaN,Master of Hacking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100

#### merge on indices

In [18]:
df_programs_i = df_programs.set_index('Program')

In [21]:
data = df.merge(df_programs_i,left_on='Program',right_index=True)  # 只有一个index，how默认是inner

problems

In [44]:
# for each programming skills level, find the average number of units to be completed by students with that programming skill levell
data.groupby('ProgSkills')['Units_required'].mean()

# for each existing program, find the units required to complete it and the number of students belonging to that program that responded to the survey
df.merge(df_programs,how='right').groupby('Program').agg({'Units_required':'mean','Program':'count'}).rename(columns={'Units_required':'Units_required','Program':'students_size'})

# for each person in df, the number fo weekly hours of working. assuming that:
#1 each required unit of coursework is 0.25 hours a week
#2 job=0 is 0 hour
#3 job = 0.5 is 20 hours a week
#4 job = 1 is 40 hours a week
df_left = df.merge(df_programs,how='left')
df_left['hours_per_week']=(df_left['Units_required']*0.25) +(df_left['Job']==0.5)*20 + (df_left['Job']==1.0)*40
df_left.head()

ProgSkills
1    66.00
2    59.95
3    54.26
4    53.70
5    57.33
Name: Units_required, dtype: float64

                               Units_required  students_size
Program
MBA                                        70             28
MSIS                                       51             58
Master of Finance                          48              1
Master of Hacking                         100              1
Supply Chain Mgmt & Analytics              49              2

,Languages,Timestamp,Program,ProgSkills,C,CPP,CS,Java,Python,JS,...,Job,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,quarter,year,Expert,Units_required,hours_per_week
0,6,2017/01/09 2:48:20 PM MST,MSIS,4,1,1,0,1,1,1,...,0.0,0,1,0,0,Winter,2017,1.0,51.0,12.75
1,4,2017/01/09 3:15:59 PM MST,MSIS,3,1,1,0,1,0,0,...,0.5,0,0,0,1,Winter,2017,1.0,51.0,32.75
2,3,2017/01/09 4:48:48 PM MST,MSIS,3,0,0,0,1,1,0,...,0.0,0,0,1,0,Winter,2017,1.0,51.0,12.75
3,5,2017/01/09 4:48:51 PM MST,MSIS,3,1,0,0,1,1,0,...,0.0,0,0,0,1,Winter,2017,1.0,51.0,12.75
4,4,2017/01/09 4:50:03 PM MST,MSIS,3,1,0,0,1,1,0,...,0.0,0,0,1,0,Winter,2017,1.0,51.0,12.75

#### deal with Nan

In [43]:
df_left.fillna(0,inplace=True)
df_left.isna().any()

Languages         False
Timestamp         False
Program           False
ProgSkills        False
C                 False
CPP               False
CS                False
Java              False
Python            False
JS                False
R                 False
SQL               False
SAS               False
Excel             False
Tableau           False
Regression        False
Classification    False
Clustering        False
Job               False
Bach_0to1         False
Bach_1to3         False
Bach_3to5         False
Bach_5Plus        False
quarter           False
year              False
Expert            False
Units_required    False
hours_per_week    False
dtype: bool